@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss"; 

/* Needed until HeroUI supports Tailwind v4 officially.
https://github.com/heroui-inc/heroui/issues/4644 */
@config "../../tailwind.config.mjs";

@theme {
    --color-primary: #3d5263;
    --color-secondary: #f9c664;
    --color-accent: #618eb5;
    --color-accent-dark: #27333f;
}

@import "./ui.css";
