@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

/* instead of @import 'tailwindcss' if need to skip preflight 

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

*/

@theme {
    --color-primary: #3d5263;
    --color-secondary: #f9c664;
    --color-accent: #618eb5;
    --color-accent-dark: #27333f;
}

@layer base {
    a {
        @apply text-blue-500 no-underline hover:underline;
    }
}

/* TABLE */

.table-container {
    @apply block mx-2 max-w-full font-[Open_Sans];
}

.table-border {
    @apply border-collapse border-t-[4px] border-solid border-primary;
}

.table-text {
    @apply text-sm text-left rtl:text-right text-primary;
}

.table-layout {
    @apply w-full overflow-x-scroll;
}

.table-td {
    @apply font-[Noto_Sans] py-1.5 pr-6 pl-4 text-xs border-solid border-slate-200 border-0 border-b-[1px] border-r-[1px];
}

.table-dtr {
    @apply hover:bg-gray-50 bg-white border-b odd:border-gray-700;
}

/* TABLE COLUMN HEADERS */

.column-header {
    @apply bg-primary/20 px-6 py-3 border-0 border-r-[1px] border-solid border-slate-50;
}

.column-header-text {
    @apply text-sm text-nowrap text-slate-700  font-bold;
}

.column-header-icon {
    @apply ml-1 text-slate-700 pl-px size-5;
}

.icon-disabled {
    @apply stroke-slate-300;
}

/* 

classes that may need to overloaded in line (e.g., change color depending on context)
these are the source of conflicts as the UI ones seem to have precedence

1. are they necessary?
2. !important directives?

*/
@layer components {
    .info-bubble {
        @apply text-blue-600 size-5;
    }

    /* info bubble alternative */
    .info-link {
        @apply cursor-pointer underline decoration-dashed decoration-blue-600 underline-offset-4;
    }



    /* FIXME: for formatting icon in a button icon / may go away with heroui */
    .icon-button {
        @apply size-4 stroke-2;
    }

    .dropdown:focus-within .dropdown-menu {
        @apply block;
    }
}
